.form-container {
  margin-top: 2.5rem;
}

.form-area {
  width: 80%;
  margin: auto;
}

.input-container {
  width: 100%;
  position: relative;
  border: 1px solid var(--border-color);
}

.form-input {
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  background-color: inherit;
}

.text-input-area {
  display: none;
  background-color: inherit;
  height: 8rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  resize: none;
}

.add-btn {
  display: none;
  position: absolute;
  left: 1.2rem;
  bottom: 1.2rem;
  padding: 1.2rem 1.6rem;
  background-color: inherit;
  border: 1px solid var(--border-color);
  border-radius: 0.8rem;
  color: var(--primary-color);
}

.add-btn:hover {
  cursor: pointer;
  background-color: var(--background-hover-color);
}

.display-block {
  display: block;
}
