.form-container {
  grid-area: main;
  margin-top: 2.5rem;
}

.form-area {
  width: 80%;
  margin: auto;
}

.input-container {
  width: 100%;
  border: 1px solid var(--border-color);
}

.form-input {
  font-weight: 600;
  padding: 1.2rem 1.6rem;
  background-color: inherit;
}

.text-input-area {
  background-color: inherit;
  height: 8rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem 1.6rem;
  font-size: 1.6rem;
  resize: none;
}
