html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  background-color: var(--background-color);
  font-family: "Inter", sans-serif;
}

h3 {
  font-size: 3.2rem;
}

p {
  font-size: 1.6rem;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

li {
  list-style: none;
}

::placeholder {
  color: var(--primary-color);
  font-family: inherit;
}
