:root {
  --white-color: #fff;
  --primary-color: #e8eaed;
  --secondary-color: #41331c;
  --background-color: #202124;
  --border-color: #5f6368;
  --search-text-background-color: rgba(241, 243, 244, 0.24);
  --background-hover-color: rgba(232, 234, 237, 0.08);
  --navbar-background-color: #2c2929;
}
