:root {
  --gray-color: #85888d;
  --border-color: #5f6368;
  --primary-color: #e8eaed;
  --secondary-color: #41331c;
  --background-color: #202124;
  --navbar-background-color: #2c2929;
  --white-color: rgba(255, 255, 255, 1);
  --background-hover-color: rgba(232, 234, 237, 0.08);
  --search-text-background-color: rgba(241, 243, 244, 0.24);
  --modal-background-color: rgba(0, 0, 0, 0.4);
}
