.label-modal-bg {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  background-color: var(--modal-background-color);
}

.show-modal-bg {
  visibility: visible;
  opacity: 1;
}

.label-modal-content {
  background-color: var(--background-color);
}

.label-form {
  margin-bottom: 0.8rem;
}

.label-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--border-color);
  height: 2.5rem;
  outline: none;
  margin: 0 1.5rem;
  color: var(--primary-color);
}

.add-label-btn {
  width: 3rem;
  height: 3rem;
  transition: all 0.2s;
}

.add-label-btn:hover {
  border-radius: 50%;
  background-color: var(--background-hover-color);
}
