.navbar {
  height: 10vh;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--navbar-background-color);
}

.navbar-brand img {
  height: 4rem;
}

.brand-text {
  margin-left: 1.6rem;
}

.navbar-search {
  width: 55rem;
  padding: 1.5rem;
  transition: all 0.3s;
  background-color: var(--search-text-background-color);
}

.navbar-search:focus {
  background-color: var(--white-color);
}

.navbar-search:focus::placeholder {
  color: var(--gray-color);
}

.navbar-profile {
  border-radius: 50%;
}
