.navbar {
  height: 10vh;
  z-index: 1;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--navbar-background-color);
}

.navbar-brand {
  width: 20rem;
}

.navbar-brand img {
  height: 4rem;
}

.navbar-search {
  width: 55rem;
  padding: 1.5rem;
  transition: all 0.3s;
  background-color: var(--search-text-background-color);
}

.navbar-search:focus {
  background-color: var(--search-focus-color);
}

.navbar-search:focus::placeholder {
  color: var(--gray-color);
}

.theme-btn {
  padding: 0.8rem;
}

.theme-btn i {
  font-size: 2rem;
}
