.notes-container {
  grid-area: main;
}

.notes-list-container {
  max-width: 80rem;
  margin: auto;
}

.note {
  height: 10rem;
  max-width: 25rem;
  overflow: auto;
  margin: 2.5rem;
}

.note-overlay {
  opacity: 0;
  background-color: var(--overlay-background-color);
  transition: opacity 0.4s ease-in-out;
}

.note:hover h3,
.note:hover p {
  color: var(--background-color);
}

.note:hover .note-overlay {
  opacity: 1;
}
