.sidebar {
  grid-area: sidebar;
  margin-top: 0.8rem;
  min-width: 27.3rem;
}
.sidebar-item {
  padding: 1.5rem 3rem;
  font-weight: 500;
}

.sidebar-icon {
  padding-right: 2rem;
}

.sidebar-item:hover {
  background-color: var(--background-hover-color);
  border-radius: 0 2.5rem 2.5rem 0;
}

.sidebar .active {
  background-color: var(--secondary-color);
  border-radius: 0 2.5rem 2.5rem 0;
}
