.sidebar {
  grid-area: sidebar;
  margin-top: 0.8rem;
}
.sidebar-item {
  padding: 1.5rem 3rem;
  font-weight: 500;
}

.sidebar-item:hover {
  cursor: pointer;
  background-color: var(--background-hover-color);
  border-radius: 0 2.5rem 2.5rem 0;
}

.active {
  background-color: var(--secondary-color);
  border-radius: 0 2.5rem 2.5rem 0;
}
